@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    display: flex;
}
nav{
    border: 1px solid #ccc;
    height: 100vh;
}
nav h1{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
nav ul{
    list-style:none;
}

nav ul li{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: black;
    font-weight: 300;
}
nav ul li:hover{
    background-color: #ccc;
    transition: 0.3s ease-in-out;
}
/* main section */
main{
    padding: 50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;
}
section article{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section h2{
    padding-bottom: 10px;
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-weight: 400;
}
section article ul{
    margin-left: 30px;
}
section article ul li{
    margin-bottom: ;
}

